root = true

[*.cs]
charset = utf-8
indent_style = tab
indent_size = 4
insert_final_newline = true
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_call_parameter_list_parentheses = false
